@import "tailwindcss";

:root {
  --navbar-height-mobile: 64px;
  --navbar-height-desktop: 80px;
}
.hero-section {
  height: calc(100vh - var(--navbar-height-mobile));
  padding-top: var(--navbar-height-mobile);
}

@media (min-width: 768px) {
  .hero-section {
    height: calc(100vh - var(--navbar-height-desktop));
    padding-top: var(--navbar-height-desktop);
  }
}
